<div id="#login">

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="register-box" class="col-md-12">
                    <form id="login-form" class="form" action="/register" method="POST">
                        <h3 class="text-center text-info">Register</h3>
                        {{#if messages.error}}
                        <span class="badge bg-warning text-danger fst-italic fs-7">{{messages.error}}</span>
                        {{/if}}
                        <div class="form-group">
                            <label for="name" class="text-info fw-bold">Name:</label><br>
                            <input type="text" value="{{messages.name}}" name="name" id="name" class="form-control"
                                placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-info fw-bold">Email:</label><br>
                            <input type="email" name="email" value="{{messages.email}}" id="email" class="form-control"
                                placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="text-info fw-bold">Phone:</label><br>
                            <input type="phone" name="phone"  value="{{messages.phone}}"
                            id="phone" class="form-control"
                                placeholder="Enter your phone">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info fw-bold">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="******">
                        </div>
                        <div class="form-group">
                            <label for="confirm-password" class="text-info fw-bold">Confirm-Password:</label><br>
                            <input type="password" name="passwordConfirm" id="confirm-password" class="form-control"
                                placeholder="******">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-rounded mt-3">Register User</button>
                        </div>
                        <div id="login-link" class="text-end">
                            <a href="/login" class="text-info text-decoration-none">Already have account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>