   <div id="footer">
        <footer class="text-center text-white " style="background-color: #fff;">
            <!-- Grid container -->
            <div class="container pt-4">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://www.facebook.com/prashant706586" role="button" data-mdb-ripple-color="dark">
                        <i class="bi bi-facebook"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                        data-mdb-ripple-color="dark"><i class="bi bi-twitter"></i></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                        data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://www.linkedin.com/in/prashant-kumar-160bba132/" role="button"
                        data-mdb-ripple-color="dark"><i class="bi bi-linkedin"></i></a>
                    <!-- Github -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                        data-mdb-ripple-color="dark"> <i class="bi bi-github"></i></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <p>Copyright &copy;
                    <script> document.write(new Date().getFullYear());</script> created with ❤ by Prashant
                </p>
            </div>
            <!-- Copyright -->
        </footer>
    </div>