   {{!-- <div id="footer border-top"   style="background-color: rgba(0, 0, 0, 0.2);">
        <footer class="text-center text-white  ">
            <!-- Grid container -->
            <div class="container pt-2">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://www.facebook.com/prashant706586" role="button" data-mdb-ripple-color="dark">
                        <i class="bi bi-facebook"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                        data-mdb-ripple-color="dark"><i class="bi bi-twitter"></i></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                        data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://www.linkedin.com/in/prashant-kumar-160bba132/" role="button"
                        data-mdb-ripple-color="dark"><i class="bi bi-linkedin"></i></a>
                    <!-- Github -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button"
                        data-mdb-ripple-color="dark"> <i class="bi bi-github"></i></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center text-dark">
                <p>Copyright &copy;
                    <script> document.write(new Date().getFullYear());</script> created with ❤ by Prashant
                </p>
            </div>
            <!-- Copyright -->
        </footer>
    </div> --}}
     <!-- footer section starts -->
     <div class="footer">
    <footer class=" border-top ">
        <div class="container-fluid text-center ">
            <div class="row">
                <div class=" d-flex  justify-content-center">
                    <div class="social-links  py-2 text-center  col-md-6 fs-2">
                        <a href="https://www.facebook.com/prashant706586" target="_blank" class="px-3"><i
                                class="fa fa-facebook-square"></i></a>
                        <a href="https://www.linkedin.com/in/prashant-kumar-160bba132/" target="_blank" class="px-3"><i
                                class="fa fa-linkedin-square"></i></a>
                        <a href="https://github.com/pksingh128" target="_blank" class="px-3"><i
                                class="fa fa-github-square"></i></a>
                      <a class="px-3" href="#" role="button"
                        data-mdb-ripple-color="dark"><i class="fa fa-twitter-square"></i></a>
                    </div>
                </div>
            </div>

            <div class=" col-lg-12">
                <p class="m-0 text-center">Copyright &copy;
                    <script> document.write(new Date().getFullYear());</script> created with ❤ by Prashant
                </p>
            </div>
        </div>

    </footer>
    </div>
    <!-- footer section starts -->