<!DOCTYPE html>
<html lang="en">


{{>headerLink}}

<body>
    <!--    -------- Header Start ------------- -->
    {{>navbar}}
    <!--    -------- Header End ------------- -->


    {{{body}}}

    {{scriptLink}}
</body>

</html>