<!DOCTYPE html>
<html lang="en">


{{>headerLink}}

<body>
    <!--    -------- Header Start ------------- -->
    {{>navbar}}
    <!--    -------- Header End ------------- -->


    {{{body}}}
  <script src="/socket.io/socket.io.js"></script>
{{!-- <script>
  varsocket = io();
</script> --}}
{{>footer}}
    {{scriptLink}}
</body>

</html>