<div class="container-fluid main_header py-4 d-flex justify-content-center">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!--left side div-->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg ">
                        <img src="/images/404.png.png" alt="prashant" class="img-fluid" title="Prashant">
                    </figure>

                    <p class="text-center mt-4 fs-4">welcome to Internet</p>
                    <h2 class="text-center fw-bold">{{errorMsg}}</h2>
                    
                  
                    <div class="text-center mt-4">
            <a href=" /" target="_blank"><button type="button" class="btn btn-danger shadow-lg rounded-pill"><i class="fa fa-chevron-left"></i>  Go back </button></a>
        </div>
                </div>
                <!-- right side div -->
            </div>

        </div>
    </div>
</div>
</div>