@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


  html{
    scroll-behavior: smooth;
    margin: 0;

}

.navbar li{
    margin-left: 2.5rem;
}

.navbar a:hover{
   
    color:  #bb1919 !important;
}
.cart{
    color: #FE5F1E;
}
.cart:hover{
    color: #b23301 !important;;
}


  /*  ***************************** Header End *************/
  /*  ***************************** login Section Start *************/
   #login-box {
    margin-top: 80px;
    max-width: 600px;
    height: 320px;
    
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login-form {
    padding: 20px;
  }
   #register-link {
    margin-top: -75px;
  }
  #register-box{
    height: 410px;
    margin-top: 20px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login-link{
      margin-top: -50px;
  }
  /*  ***************************** login Section End *************/