

<div class="container">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
            {{#each order}}
            <h6 class="fw-bold text-success">Order ID: {{this.order_id}}</h6>
            
            <div id="order-update" class=" " role="alert" ></div>
            

        
            <input type="hidden" id="hiddenInput" value="{{JSONstringify this}}">
             <article class="card pb-5">
                <div class="card-body row">
                    <div class="col"> <strong>Estimated Delivery time:</strong> <br> 14 MAY </div>
                    <div class="col"> <strong>Shipping BY:</strong> <br> pizza corner, | <i class="fa fa-phone"></i>
                        7065869947 </div>
                    <div class="col"  id="updateStatus"> <strong>Status:</strong> <br> {{this.status}} </div>
                    <div class="col"> <strong>Tracking #:</strong> <br>{{this.order_id}} </div>
                </div>
            </article>
            <div class="track";>
                <div class="status-line step " data-status="order_placed"> <span class="icon"> <i class="las la-clipboard-check"></i> </span>
                    <span class="text">Order Placed</span> </div>
                <div class="status-line step " data-status="confirmed"> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                        class="text">Order confirmed</span> </div>
                <div class="status-line step " data-status="prepared"> <span class="icon"> <i class="las la-pizza-slice"></i> </span>
                    <span class="text">Preparation</span> </div>
                <div class="status-line step" data-status="delivered"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span
                        class="text"> Out for delivery </span> </div>

                <div class="status-line step" data-status="completed"> <span class="icon"> <i class="las la-grin-beam"></i> </span> <span
                        class="text">complete</span> </div>
            </div>
            
            <ul class="row">
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="/images/pizza.png" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">anner pizza<br>small</p> <span class="text-muted">RS 400</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="/images/piz1.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">Panner pizza <br> Large</p> <span class="text-muted">RS 500</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="/images/pizza.png" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">panner pizza <br>small</p> <span class="text-muted">RS 250 </span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <hr> <a href="/customer/orders" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i>
                Back to orders</a>
        </div>
    </article>
    {{/each}}
</div>




<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/app.js" type="module"></script>
